In [1]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

np.random.seed(392)

In [2]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [63]:
#rough
pd.factorize?

In [7]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [10]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= 0.75

In [21]:
train, test = df[df['is_train'] == True] , df[df['is_train'] == False]

In [56]:
y = pd.factorize(train['species'])[0]

In [37]:
clf = RandomForestClassifier(n_jobs=2, random_state=392)

In [43]:
clf.fit(train[df.columns[:4]], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=392, verbose=0, warm_start=False)

In [52]:
preds = iris.target_names[clf.predict(test[df.columns[:4]])]
pd.crosstab(test['species'], preds, rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 12           0          0
versicolor              0          16          1
virginica               0           1         11